.loginbox {
    box-shadow:  0 5px 10px 0px rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);
    background-attachment: scroll;
    box-sizing: border-box;
    background: rgb(40, 40, 40);
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 33px;
    padding-left: 55px;
    padding-right: 55px;
    position: absolute;
    text-align: center;
    color: rgb(51, 51, 51);
    height: 650px;
    width: 390px;
    left: 50%;
    top: 50%;
}

input[type="text"], input[type="password"] {
    background-color: rgb(40, 40, 40);
    color:rgb(222, 222, 222)
}

#createaccount {
    color: rgb(222, 222, 222);
}

#signup {
    color: rgb(162, 162, 162);
}