@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background: black;
}

.loginbox {
    box-shadow:  0 5px 10px 0px rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);
    background-attachment: scroll;
    box-sizing: border-box;
    background:#e5e5e5; 
    margin-top: 3vh;
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 33px;
    padding-left: 55px;
    padding-right: 55px;
    position: absolute;
    text-align: center;
    color: rgb(51, 51, 51);
    height: 650px;
    width: 390px;
    left: 50%;
    top: 50%;
}

#loginheader {
    background-attachment: scroll;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
}

input[type="text"], input[type="password"] {
    background-color: rgb(229, 229, 229);
}

#dark-mode-toggle {
    margin-right: 25px;
    --dark-mode-toggle-light-icon: url("../images/whitemode.svg");
    --dark-mode-toggle-dark-icon: url("../images/darkmode.svg");
}

.email input{
    margin-top: 25px;
    margin-bottom: 50px;
}

.email input, .password input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-color: rgb(173, 173, 173);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    text-align: left;
    width: 280px;
    outline: none;
}

#enter-email, #enter-password {
    padding-left: 5px;
    padding-bottom: 10px;
}

.password input{
    margin-top: 5px;
}

#lostpassword {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#3e7066;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.container {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 280px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 13px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200% auto;
    color: white;
    box-shadow: rgb(60, 62, 62);
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover {
    background-position: right center; 
}

.btn-3 {
    background-image: linear-gradient(to right, #5f9c8d 5%, #366d5a 51%, #5f9c8d 100%);
}

#create-account {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    margin-top: 50%;
    font-size: 15px;
    color: rgb(102, 102, 102);
    display: inline-flex;
    height: 100%;
    vertical-align: bottom;
}

#signup {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
    color: rgb(63, 63, 36)
}

@media screen and (max-width: 50%) {
    .header a {
        display: none;
    }
    
}
